/*reset de página*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*cabeçalho - header*/
header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

#telefone {
    width: 300px;
    height: 100px;
    background-color: #84B825;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 5px; /*funcionou bem para centralizar*/
}

/*Imagem de fundo principal - main content*/
.img_principal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto_melhor_oferta1 {
    position: absolute;
    top: 26%;
    left: 25%;
    font-family: cursive;
    font-size: 40px;
    color: white;
}

.texto_melhor_oferta2 {
    align-items: center;
    position: absolute;
    white-space: nowrap;
    top: 80%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
}

.botao{
    margin-top: 14px;
    width: 32%;
    height: 65px;
    padding: 25px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF871A;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}